<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650888080651-fa3m3vf5ilb224r5fpiusot6v3aa3f4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650888080651-fa3m3vf5ilb224r5fpiusot6v3aa3f4f</string>
	<key>API_KEY</key>
	<string>AIzaSyBfjSF6-nEaujln278R8RKfuBqKR8sXerQ</string>
	<key>GCM_SENDER_ID</key>
	<string>650888080651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KK-Can-Code.FindingAnswers</string>
	<key>PROJECT_ID</key>
	<string>quantumuniqueengine</string>
	<key>STORAGE_BUCKET</key>
	<string>quantumuniqueengine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650888080651:ios:b1f533d3e5e02da573860e</string>
</dict>
</plist>